.shoes-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 100px 0 100px;
}

@media (max-width: 967px) {
  .shoes-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 590px) {
  .shoes-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 0px;
    padding-top: 50px;
  }

  .shoes-list .card {
    margin: 0px;
  }
}
